"*":
  core:
    automaticallyUpdate: false
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ff404733-d023-14a0-d603-ccf69094cffb"
  welcome:
    showOnStartup: false
