"*":
  "atom-import-sort":
    sortOnSave: true
  "atom-tailwindcss":
    isDisabledIfNotInPackageJson: false
  "bracket-matcher":
    alwaysSkipClosingPairs: true
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "background-tips"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    autoIndentOnPaste: false
    defaultFontSize: 15
    fontFamily: "Monaco"
    fontSize: 16
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 80
    tabType: "soft"
  "exception-reporting":
    userId: "61e94bcd-10cd-422c-9cea-5111013406aa"
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
  welcome:
    showOnStartup: false
